In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
data_dir = 'rr_data/'

os.listdir(data_dir)

['category_tree.csv',
 'events.csv',
 'item_properties_part1.csv',
 'item_properties_part2.csv']

In [3]:
data = [pd.read_csv(os.path.join(data_dir, file)) for file in os.listdir(data_dir)]

In [18]:
print(data[1].columns)
#print(data[1].value_counts('event'))
print(data[1].shape)
print(data[1].drop_duplicates('visitorid').shape[0])
print(data[1].drop_duplicates('itemid').shape[0])

Index(['timestamp', 'visitorid', 'event', 'itemid', 'transactionid'], dtype='object')
(2756101, 5)
1407580
235061

In [7]:
data[2].head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [8]:
data[3].head()

       timestamp  itemid property            value
0  1433041200000  183478      561           769062
1  1439694000000  132256      976  n26.400 1135780
2  1435460400000  420307      921  1149317 1257525
3  1431831600000  403324      917          1204143
4  1435460400000  230701      521           769062

In [9]:
[df.shape for df in data]

[(1669, 2), (2756101, 5), (10999999, 4), (9275903, 4)]